<header class="bg-gray-100 shadow-md">
  <div class="container mx-auto px-6 py-4 flex items-center justify-between">
    <!-- Logo or Title -->
    <h1 class="text-2xl font-bold text-gray-800">
      <%= link_to 'Love Your Home', root_path, class: "text-gray-800 hover:text-gray-600" %>
    </h1>
    
    <!-- Navigation Links -->
    <nav class="flex space-x-4">
      <%= link_to 'Signup', new_user_path, class: "text-white bg-gray-500 hover:bg-gray-600 font-semibold py-2 px-4 rounded shadow" %>
      <%= link_to 'Login', login_path, class: "text-white bg-gray-500 hover:bg-gray-600 font-semibold py-2 px-4 rounded shadow" %>
    </nav>
  </div>
</header>
