<header>
  <h1>ログイン後のヘッダー</h1>
  <%= link_to 'TOP', root_path %>
  <%#<%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
  <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
</header>