<%= link_to "Floor Simulator", floor_simulator_path %>

<%= link_to "Wallpaper Simulator", wallpaper_simulator_path %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>