<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Home#index</h1>
    <%= link_to "Floor Simulator", floor_simulator_path %>
    <%= link_to "Wallpaper Simulator", wallpaper_simulator_path %>
  </div>
</div>