<div class="relative flex min-h-screen items-center justify-center overflow-hidden bg-gray-50 py-12 sm:py-24">
  <!-- 背景画像 -->
  <img src="<%= asset_path('background_1') %>" alt="" class="absolute inset-0 w-full h-full object-cover opacity-50 bg-local">
  
  <!-- コンテンツボックス -->
  <div class="relative z-10 bg-white bg-opacity-75 rounded-lg shadow-xl ring-1 ring-gray-900/5 px-8 py-10 max-w-2xl text-center">
    <h1 class="text-3xl font-bold text-gray-700 mb-4">床材・壁紙を初心者でも簡単に変更できるアプリ</h1>
    <p class="text-lg text-gray-600 mb-6">初心者でも直感的に操作できるように設計されたシミュレーションツールです。お部屋の雰囲気を自由にカスタマイズしましょう！</p>
    
    <h2 class="text-xl font-semibold text-gray-700 mb-8">ログイン登録して頂くとお気に入り機能が使用できます</h2>
    
    <!-- ボタン -->
    <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
      <%= link_to "Simulator", simulator_path, class: "bg-gray-200 hover:bg-gray-300 text-gray-800 py-3 px-6 rounded shadow-md transition duration-200 ease-in-out" %>
      <%= link_to "Sign Up", new_user_path, class: "bg-gray-500 hover:bg-gray-600 text-white py-3 px-6 rounded shadow-md transition duration-200 ease-in-out" %>
      <%= link_to "Login", login_path, class: "bg-gray-500 hover:bg-gray-600 text-white py-3 px-6 rounded shadow-md transition duration-200 ease-in-out" %>
    </div>
  </div>
</div>
<div class="container mx-auto overflow-x-auto whitespace-nowrap flex space-x-6 py-4">
  <div class="inline-block">
    <iframe src="https://www.youtube.com/embed/h4etgVwD_y4" title="DIY｜クッションフロアの貼り方 RESTA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-80 h-44"></iframe>
  </div>

  <div class="inline-block">
    <iframe src="https://www.youtube.com/embed/ZvfQq9M5n8I" title="【賃貸DIY】置くだけのフロアタイルでフローリングを簡単にコンクリート風にする方法" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-80 h-44"></iframe>
  </div>

  <div class="inline-block">
    <iframe src="https://www.youtube.com/embed/hDtMKT8RVgw" title="【コスパ最強すぎ】ノリ不要の剥がせる壁紙！賃貸6畳の部屋を張り替えてみた" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-80 h-44"></iframe>
  </div>

  <div class="inline-block">
    <iframe src="https://www.youtube.com/embed/ZIfNXAgDvXI" title="【クッションフロア】冬も暖か断熱性UP！たったの15000円で賃貸の床をオシャレなモルタル風に張り替えてみた。【賃貸床DIY】" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-80 h-44"></iframe>
  </div>

  <div class="inline-block">
    <iframe src="https://www.youtube.com/embed/P6SDoARE1sY" title="#57【セルフリノベーション】リビングの模様替え開始🛋️まずは大判フロアタイルで一気にイメチェン！" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-80 h-44"></iframe>
  </div>

  <div class="inline-block">
    <iframe src="https://www.youtube.com/embed/qP_rJHPS-3M" title="壁紙の張り替え術‼︎初心者でも絶対できるんです！！" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-80 h-44"></iframe>
  </div>

  <div class="inline-block">
    
  </div>
</div>
